/* Global */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

h1 {
  font-family: Roboto, sans-serif;
}

body {
  margin-bottom: 10% !important;
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  padding: 10px;
  clear: left;
  color: #FFF;
  background-color: #4F6A79;
}

footer {
  text-align: center;
  padding: 5px;
  bottom: 0;
  width: 100%;
  background-color: #4F6A79;
  position: fixed;
}

footer a, footer a:visited {
  color: white;
}

section {
  margin-left: 25%;
}

a, a:visited {
  text-decoration: none;
  color: #474A48;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

/* Specifics */

.content, #intro {
  padding-left: 15px;
}

#pageContainer {
  overflow: auto;
}

#globalMenu {
  float: left;
  width: 25%;
}

.m0 {
  margin: 0;
}
