/* Global */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

h1 {
  font-family: Roboto, sans-serif;
}

body {
  margin-bottom: 10% !important;
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  padding: 10px;
  clear: left;
  color: #FFF;
  background-color: #75441b; /*Not material design colour...*/

}

footer {
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 100%;
  background-color: #75441b;
  border: solid 1px 464547;
  position: fixed;
}

footer a:link {
  color: white;
}

section {
  margin-left: 25%;
}

a:link {
  text-decoration: none;
  color: #448AFF;
}

a:visited {
  color: #FF5252
}

ul {
  list-style: none;
}

/* Specifics */

.content, #intro {
  padding-left: 15px;
}

#pageContainer {
  overflow: auto;
}

#globalMenu {
  float: left;
  width: 25%;
}

.m0 {
  margin: 0;
}
