@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    margin: 0;
    font-family: 'Open Sans';
}

h1 {
  font-family: Roboto, sans-serif;
}

hr {
  clear: both;
}

/*Menu*/
.mn_lst {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303F9F;
}

nav li {
  float: left;
}

li a, dd_btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 1em 1em;
  color: #FFF;
}

li a:hover, dd:hover, dd_btn {
  background: #FF5252;
}

li.dd {
  display: inline-block;
}

.dd_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dd_content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
}

.dd:hover .dd_content {
    display: block;
}


  /* Resposive Queries */
@media only screen and (min-width: 100px) and (max-width: 450px) {
  .mn_lst {
    width:100%;
    text-align: center !important;
  }
  .dd_item {
    width:100%;
    float:none;
    border: #3F51B5 solid .05em;
  }

  .dd_item a {
    font-size: 10px
  }

  .dd_content {
    width: 100%;
    text-align: center;
  }

  .site_title a {
    font-size: .5em;
  }

}

/* End of Menu */

.site_title {
  text-align: center;
  text-decoration: overline underline;
  font-size: 1em;
  border-style: solid;
  padding: 2em;
  position: static;
  color: #303F9F; /** Colors subject to change **/
  background-color: #3F51B5;
}

.site_title a {
  text-decoration: none;
  color: #FFF;
}

.b_cont {
  padding: 2em;
}
