body {
    color: #FFF;
    background-color: #D32F2F;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', serif;
}

h1 {
    font-family: Roboto, sans-serif;
}

table {
	margin-top: 15px;
	margin-bottom: 15px;
	border-collapse: collapse;
	background-color: #FFF;
}

th {
	color: #212121;
}

td {
	color: #000;
}

td, th {
	padding: 10px;
}

footer {
  font-size: 12px;
  padding: 10px;
	background-color: #D32F2F;
}

a:link {
	text-decoration: none;
}

#container {
	border-color: #3F51B5;
	background-color: #F44336 ;
	padding: 10px;
}



.tableBody {
  background-color: #FFCDD2;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}
